body{
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#contentWrap, 
#contentChat,
#contentForm {
    display: none;
}

.d-block {
    display: block! important;
}

.error {
    color: red;
}

.whisper {
    color: gray;
    font-style: italic;
}

.navbar-brand img {
    width: 60px;
}
.title-saludo {
    font-size: 1.5rem;
    color: white;
}
.container-primary {
    background: url(/img/bg-dot.png),
        url(/img/bg-dot.png),
        url(/img/bg-round.png),
        url(/img/bg-tree.png);
    background-position: 10px 10px,
        bottom 190px right 10px,
        left 55% top -1px,
        left 45% bottom -1px,
        center bottom -1px;
    background-repeat: no-repeat;
    height: 100vh;
}
.navbar-fixed {
    position: fixed;
    width: 100%;
}
.container .card {
    width: 94%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}